input.cell{
    width: 40px;
}

div.Board{
    padding: 50px;
    height: 300px;
    width: max-content;
    background-color: orange;
    float: left;
    text-align: center;
}

div.GameUtils{
    padding: 50px;
    height: 300px;
    width: min-content;
    background-color: cyan;
    float: right;
    text-align: center;
}

div.Game{
    height: 400px;
    width: fit-content;
    float: center;
    text-align: center;
    background-color: red;
    border-radius: 6px;
    border: solid black 4px;
}